@implements IDisposable 
@using Discord.Rest;
@using Discord.WebSocket;
@inject DiscordSocketClient DiscordSocketClient;
<div class="guild-preview">
    <div class="guild-icon">
            @if (!String.IsNullOrWhiteSpace(Guild.IconUrl))
            {
                <img src="@Guild.IconUrl" />
            }
            else
            {
                @String.Join("", Guild.Name.Split().Select(x => x[0]).Take(3))
            }
    </div>
    @if (DiscordSocketClient.Guilds.Select(x => x.Id).Contains(Guild.Id))
    {
        <a href="Dashboard/@Guild.Id.ToString()">
            <div class="guild-link">
                Server Dashboard
            </div>
        </a>
    }
    else
        {
        <a target="_blank" href="https://discord.com/oauth2/authorize?client_id=875545057682419773&scope=bot&permissions=8&guild_id=@Guild.Id">
            <div class="guild-link">
                Set up Server
            </div>
        </a>
        }
    <div class="guild-name">
        @Guild.Name
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        DiscordSocketClient.JoinedGuild += Refresh;
        DiscordSocketClient.LeftGuild += Refresh;
    }
    [Parameter]
    public RestUserGuild Guild { get; set; }

    private Task Refresh(SocketGuild guild)
    {
        if (Guild.Id == guild.Id)
        {
            return InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }
        else return Task.CompletedTask;
    }

    public void Dispose()
    {
        DiscordSocketClient.JoinedGuild -= Refresh;
        DiscordSocketClient.LeftGuild -= Refresh;
    }
}
